.rights-title-bar{
    display: block;
}

.rights-title{
    display: inline;
}

.view-details-checkbox{
    float: right;
}

.during-term{
    display: inline;
    margin-left: 10px;
}

.view-details-section{
    margin-left: 50px;
}

.rights-granted-options{
    display: block;
    margin-top: 10px;
}

.min-width-200{
    min-width: 300px;
    display: inline-block;
}

.right-container{
    margin-top: 10px;
}
